.status_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #002855;
}