.bodyComando {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100vw;
    height: 100vh;
    margin-top: var(--navbar-vert-dim);
}

.mainComando {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerComando {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 75vw;

    font-size: 24px;
}

.headerComando p {
    width: 35vw;
}   

.compComando {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #002855;

    width: 65vw;
    height: 80px;

    margin-bottom: 20px;         /* vertical | horizontal */
    padding: 0 5vw;              /* vertical | horizontal */
    overflow: hidden;

    font-size: 20px;
}

.compComando p {
    width: 30vw;
}