.navbar {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: var(--navbar-vert-dim);         /* largura */
    padding: 16px 80px;                     /* margem interna: vertical | horizontal */
    background-color: #002855;            /* cor-de-fundo */

    position: fixed;                        /* posição: fixa */
    top: 0px;                               /* quão longe do topo da página */
    left: 0px;                              /* quão longe à esquerda da página */
}

.navbar * {
    color: #FFFFFF;                       /* cor-do-texto: */
    text-decoration: none;                  /* decoração-do-texto: */
}