:root {
    --background-azul: #0353A4;
    --background-escuro: #002855;
    --banner_dim: 50vw;
    --navbar-vert-dim: 72px;
}

* {
    color: #FFFFFF
}

html {
    background-color: var(--background-azul);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin-top: 90px;

    height: calc(100vh - 90px);
    font-size: 30px;
}